In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import locale
locale.setlocale(locale.LC_TIME, 'pt_BR.utf8')

'pt_BR.utf8'

In [2]:
def create_graph_line(series, title, x_label, y_label):
    plt.figure(figsize=(12,6))
    series.plot()
    plt.title(title)
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    plt.grid()
    plt.show()

# Carregar Dados

In [3]:
dias_semana = {
    'Monday': '1-segunda-feira',
    'Tuesday': '2-terça-feira',
    'Wednesday': '3-quarta-feira',
    'Thursday': '4-quinta-feira',
    'Friday': '5-sexta-feira',
    'Saturday': '6-sábado',
    'Sunday': '7-domingo'
}

In [4]:
df_rupturas = pd.read_csv('../data/processed/dados_ruptura.csv')
df_rupturas['dt_estoque'] = pd.to_datetime(df_rupturas['dt_estoque'])
# df_rupturas['dia_semana_en'] = df_rupturas['dt_estoque'].dt.day_name()
# df_rupturas['ano_mes'] = df_rupturas['dt_estoque'].dt.strftime('%Y-%m')
# df_rupturas['dia_semana_pt'] = df_rupturas['dia_semana_en'].map(dias_semana)
df_rupturas['is_ruptura'] = df_rupturas['is_ruptura'].apply(int)
df_rupturas.head()

   key_loja  cod_produto dt_estoque primeira_data  qt_estoque  is_ruptura
0         1         1428 2024-01-01    2024-01-01       108.0           0
1         1         1428 2024-01-02    2024-01-01       108.0           0
2         1         1428 2024-01-03    2024-01-01       108.0           0
3         1         1428 2024-01-04    2024-01-01       108.0           0
4         1         1428 2024-01-05    2024-01-01       108.0           0

In [5]:
df_similares = pd.read_csv('../data/raw/tb_similares.csv')
df_similares.rename(columns={"cod_material": "cod_produto"}, inplace=True)
df_similares.head()

   cod_produto  cod_material_recom  ranking
0        48635               25472        1
1        50651               74932        1
2        48062               77684        1
3        49893               48730        1
4        49943               84203        1

In [6]:
df_estoque = pd.read_csv('../data/raw/tb_estoques.csv')
df_estoque['dt_estoque'] = pd.to_datetime(df_estoque['dt_estoque'])
df_estoque.head()

   key_loja  cod_produto dt_estoque  qt_estoque
0         1         1428 2024-03-18         108
1         1         1428 2024-12-13          24
2         1         1428 2024-07-30          33
3         1         1428 2024-07-22          34
4         1         1428 2024-07-29          34

# Para cada ruptura, verificar se há similares recomendados com estoque > 0 na mesma loja/data

In [7]:
# 1. Juntar ruptura com similares recomendados
df_rupturas_similares = df_rupturas.merge(
    df_similares,
    on='cod_produto',  # SKU em ruptura
    how='left'
)

,key_loja,cod_produto,dt_estoque,primeira_data,qt_estoque,is_ruptura,cod_material_recom,ranking
0,1,1428,2024-01-01,2024-01-01,108.0,0,1650.0,1.0
1,1,1428,2024-01-01,2024-01-01,108.0,0,1640.0,2.0
2,1,1428,2024-01-01,2024-01-01,108.0,0,48282.0,3.0
3,1,1428,2024-01-02,2024-01-01,108.0,0,1650.0,1.0
4,1,1428,2024-01-02,2024-01-01,108.0,0,1640.0,2.0

In [22]:
df_estoque_similares = df_estoque.rename(columns={'cod_produto': 'cod_material_recom'})
df_rupturas_similares_estoque = df_rupturas_similares.merge(df_estoque_similares, on=['cod_material_recom', 'key_loja', 'dt_estoque'], how='left', suffixes=('', '_similar'))
df_rupturas_similares_estoque['similar_disponivel'] = df_rupturas_similares_estoque['qt_estoque_similar'].fillna(0) > 0
df_rupturas_similares_estoque['similar_disponivel'] = df_rupturas_similares_estoque['similar_disponivel'].apply(int)
df_rupturas_similares_estoque.head()

,key_loja,cod_produto,dt_estoque,primeira_data,qt_estoque,is_ruptura,cod_material_recom,ranking,qt_estoque_similar,similar_disponivel
0,1,1428,2024-01-01,2024-01-01,108.0,0,1650.0,1.0,102.0,1
1,1,1428,2024-01-01,2024-01-01,108.0,0,1640.0,2.0,83.0,1
2,1,1428,2024-01-01,2024-01-01,108.0,0,48282.0,3.0,335.0,1
3,1,1428,2024-01-02,2024-01-01,108.0,0,1650.0,1.0,102.0,1
4,1,1428,2024-01-02,2024-01-01,108.0,0,1640.0,2.0,83.0,1

In [23]:
cobertura = (
    df_rupturas_similares_estoque[df_rupturas_similares_estoque['similar_disponivel']==1]
    .groupby('ranking')['cod_produto']
    .nunique()
    .reset_index(name='qtd_rupturas_com_similar')
)

cobertura['perc_total_rupturas'] = 100 * cobertura['qtd_rupturas_com_similar'] / df_rupturas['cod_produto'].nunique()
print(cobertura)

   ranking  qtd_rupturas_com_similar  perc_total_rupturas
0      1.0                        35            33.653846
1      2.0                        31            29.807692
2      3.0                        23            22.115385

In [24]:
total_rupturas = len(df_rupturas)
rupturas_com_similar = df_rupturas_similares_estoque['similar_disponivel'].any()
rupturas_com_similar
# print(f"Total de rupturas: {total_rupturas}")
# print(f"Rupturas com pelo menos 1 similar disponível: {rupturas_com_similar.sum()}")

np.True_

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns

# Agrupar: contar quantas rupturas tiveram similar disponível por data e ranking
heatmap_data = (
    df_rupturas_similares_estoque[df_rupturas_similares_estoque['similar_disponivel']==1]
    .groupby(['dt_estoque', 'ranking'])
    .size()
    .unstack(fill_value=0)
)

# Reordenar por data
heatmap_data = heatmap_data.sort_index()

# Plotar heatmap
plt.figure(figsize=(14, 6))
sns.heatmap(heatmap_data, cmap='YlGnBu', annot=True, fmt='d', linewidths=0.5)
plt.title('Cobertura de Similares por Data e Ranking')
plt.xlabel('Ranking do Similar')
plt.ylabel('Data da Ruptura')
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
total_rupturas = df_rupturas['is_ruptura'].sum()
proporcao = np.round((total_rupturas/df_rupturas.shape[0])*100, 2)
print(f"Total de eventos de ruptura: {total_rupturas} ({proporcao}% dos registros de estoque)")

### Histórico Rupturas

In [ ]:
rupturas_por_dia = df_rupturas[df_rupturas['is_ruptura']==1].groupby('dt_estoque').size()
create_graph_line(rupturas_por_dia, 'Evolução das Rupturas ao Longo do Tempo', 'Data', 'Quantidade de Rupturas')

In [ ]:
- Janeiro até um pouco antes do final de maio os niveis de ruptura estavam estaveis proximo a 300 depois do dia 2024-05-30 teve um pico de 350 rupturas e está com tendencia de alta
- Será que consigo colocar umas linhas marcando datas relevantes para o varejo?

In [ ]:
rupturas_por_dia_semana = df_rupturas[df_rupturas['is_ruptura']==1].groupby('dia_semana_pt').size()
create_graph_line(rupturas_por_dia_semana, 'Evolução das Rupturas ao Longo do Tempo', 'Data', 'Quantidade de Rupturas')

In [ ]:
- Segunda e Terças são os períodos que mais apresentam rupturas

In [ ]:
rupturas_por_safra = df_rupturas[df_rupturas['is_ruptura']==1].groupby('ano_mes').size()
create_graph_line(rupturas_por_safra, 'Evolução das Rupturas ao Longo do Tempo', 'Data', 'Quantidade de Rupturas')

In [ ]:
Desde Junho a tendencia de ruptura só vem aumentando

### Loja

In [ ]:
rupturas_por_loja = df_rupturas[df_rupturas['is_ruptura']==1].groupby('key_loja').size().sort_values(ascending=False)

plt.figure(figsize=(12,6))
rupturas_por_loja.head(20).plot(kind='bar')
plt.title('Top 20 Lojas com mais Rupturas')
plt.xlabel('Loja')
plt.ylabel('Quantidade de Rupturas')
plt.xticks(rotation=45)
plt.grid()
plt.show()

In [ ]:
lojas = df_rupturas['key_loja'].unique()

for lj in lojas:
    print(lj)
    rupturas_por_loja = df_rupturas[(df_rupturas['key_loja']==lj)&(df_rupturas['is_ruptura']==1)].groupby('dt_estoque').size()
    
    plt.figure(figsize=(12,6))
    rupturas_por_loja.plot()
    plt.title(f'Evolução das Rupturas ao Longo do Tempo Loja {lj}')
    plt.xlabel('Data')
    plt.ylabel('Quantidade de Rupturas')
    plt.grid()
    plt.show()

In [ ]:
- Loja 1 pode ter ocasionado o comportamento de subida de ruptura no começo de junho

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
type(rupturas_por_loja)
df_rupturas_por_loja = rupturas_por_loja.to_frame()
df_rupturas_por_loja.reset_index(inplace=True)
df_rupturas_por_loja.rename(columns={"0": "qtd_rupturas"}, inplace=True)
df_rupturas_por_loja.to_csv('df_rupturas_por_loja.csv',index=False)

### SKU

In [ ]:
rupturas_por_sku = df_rupturas[df_rupturas['is_ruptura']==1].groupby('cod_produto').size().sort_values(ascending=False)

plt.figure(figsize=(12,6))
rupturas_por_sku.head(20).plot(kind='bar')
plt.title('Top 20 SKUs com mais Rupturas')
plt.xlabel('SKU')
plt.ylabel('Quantidade de Rupturas')
plt.xticks(rotation=45)
plt.grid()
plt.show()

- Posso olhar a ruptura dos SKUS por essas categorias:
    - categoria_produto Código da categoria do produto
    - sub_categoria_produto Código da subcategoria do produto
    - linha_produto

In [ ]:
df_ruptura_similar = df_rupturas.merge(df_similares, on='cod_produto', how='left')
df_ruptura_similar.head()

In [ ]:
df_ruptura_similar

In [ ]:
df_ruptura_similar = df_ruptura_similar.merge(
    df_estoque,
    left_on=['cod_material_recom', 'key_loja', 'dt_estoque'],
    right_on=['cod_produto', 'key_loja', 'dt_estoque'],
    how='left',
    suffixes=('', '_similar')
)

# Filtrar se o similar tinha estoque disponível (> 0)
df_ruptura_similar['similar_disponivel'] = df_ruptura_similar['qt_estoque'] > 0
df_ruptura_similar

In [ ]:
df_agrupado = (
    df_ruptura_similar
    .groupby(['cod_produto', 'key_loja', 'dt_estoque'])['similar_disponivel']
    .max()
    .reset_index()
)

df_agrupado

In [ ]:
# Se pelo menos um similar estava disponível, max() será True
quantidade_rupturas_com_similar = df_agrupado['similar_disponivel'].sum()
quantidade_total_rupturas = df_agrupado.shape[0]

# Taxa de rupturas com similar disponível
taxa_similar_disponivel = quantidade_rupturas_com_similar / quantidade_total_rupturas
print(f"Taxa de rupturas com similar disponível: {taxa_similar_disponivel:.2%}")

Você pode testar se existe diferença na cobertura de similares entre lojas, entre categorias, etc.

Por exemplo, usar teste de proporções entre lojas grandes e pequenas.

#### Como calcular a cobertura de similares por ranking

In [ ]:
# Agora, calcular a cobertura por ranking
cobertura_por_ranking = (
    df_ruptura_similar
    .groupby('ranking')['similar_disponivel']
    .mean()
    .reset_index()
    .sort_values('ranking')
)

cobertura_por_ranking['similar_disponivel'] = cobertura_por_ranking['similar_disponivel'] * 100  # Converter para %

print(cobertura_por_ranking)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
plt.bar(cobertura_por_ranking['ranking'], cobertura_por_ranking['similar_disponivel'])
plt.title('Cobertura de Similares por Ranking')
plt.xlabel('Ranking do Similar')
plt.ylabel('% de Rupturas com Similar Disponível')
plt.grid()
plt.show()

#### Cobertura Cumulativa por Ranking

In [ ]:
# Agora, para cada ruptura, identificar o primeiro ranking que cobre
def primeiro_ranking_cobertura(grupo):
    similares_disponiveis = grupo[grupo['similar_disponivel']]
    if not similares_disponiveis.empty:
        return similares_disponiveis.iloc[0]['ranking']
    else:
        return None

# Aplicar por ruptura
primeiro_cobertura = df_ruptura_similar.groupby(['cod_produto', 'key_loja', 'dt_estoque']).apply(primeiro_ranking_cobertura).reset_index(name='ranking_cobertura')
primeiro_cobertura

In [ ]:
cobertura_cumulativa = (
    primeiro_cobertura['ranking_cobertura']
    .value_counts(dropna=False)
    .reset_index()
    .rename(columns={'ranking_cobertura': 'ranking', 'count': 'quantidade'})
    # .sort_values('ranking')
)

cobertura_cumulativa

In [ ]:
df_ruptura_similar['ranking'].value_counts()

In [ ]:
# Calcular % relativo
total_rupturas = primeiro_cobertura.shape[0]
cobertura_cumulativa['percentual'] = cobertura_cumulativa['quantidade'] / total_rupturas * 100

print(cobertura_cumulativa)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
plt.plot(distribuicao_cobertura['ranking'], distribuicao_cobertura['cobertura_acumulada'], marker='o')
plt.title('Cobertura Cumulativa de Similares por Ranking')
plt.xlabel('Ranking do Similar que Cobre a Ruptura')
plt.ylabel('% Acumulado de Rupturas Cobertas')
plt.xticks(distribuicao_cobertura['ranking'])
plt.grid()
plt.show()